body {
  background-image: url("./../images/space1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.crytitle {
  font-size: 110px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: rgb(35, 240, 171)
}

.p1 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: rgb(35, 240, 171);
}

.p2 {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: rgb(35, 240, 171);
}

.button {
  width: 150px;
}

.mnum {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  color: rgb(34, 0, 78);
  background-image: url("./../images/mbg.jpg");
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

.magicnum-text {
  font-size: 75px;
  color: rgb(34, 0, 78);
}

.wins-text {
  color: rgb(57, 224, 57);
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
}

.losses-text {
  color: rgb(182, 10, 10);
  font-size: 25px;
  font-family: "Arial Black", Gadget, sans-serif;
}